<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>

    </style>
</head>

<body>
    <div id="app" v-for="item in cartList">
        <nav class="flex w-full sticky bg-red-100 top-0 leading-loose justify-center">
            <a href="index.html" class="py-6 w-1/4 text-center h-full hover:bg-red-600">商品列表</a>
            <a href="cart.html"
                class="py-6 w-1/4 text-center h-full hover:bg-red-600">查看購物車<span>{{cartList.length}}</span></a>
        </nav>
        <main class="px-32">

            <div v-for="item in cartList" :key="item.id">
                <label class="border-2 m-2 p-6 flex" :for="item.id">
                    <input class="m-5" :id="item.id" type="checkbox">
                    <img class="h-48" :src="item.imageUrl" alt=""><br>
                    <div>
                        <p class="text-xl font-bold text-center m-2">{{item.name}}</p>
                        <p class="text-xl m-2">活動類型 : {{item.displayCategory}}</p>
                        <p class="text-xl m-2">活動期間 : {{formattedStartDate(item.startDateTime)}} -
                            {{formattedStartDate(item.endDateTime)}}</p>
                        <p class="text-xl m-2">活動狀態 : {{item.status}}</p>
                        <p class="text-xl m-2">票價 : {{item.price}}</p>
                    </div>
                </label>
            </div>
            <hr>
            <div class="flex justify-center">
                <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-red-600">刪除</button>
                <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-red-600">確認購買</button>
            </div>


    </main>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js"
        integrity="sha512-v8+bPcpk4Sj7CKB11+gK/FnsbgQ15jTwZamnBf/xDmiQDcgOIYufBo6Acu1y30vrk8gg5su4x0CG3zfPaq5Fcg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    data: [],
                    showModal: false,
                    findData: [],
                    cartList: [],

                }

            },
            methods: {
                formattedStartDate(starDate) {
                    const date = new Date(starDate * 1000);
                    return date.toLocaleString(); // 7/3/2024, 5:46:40 PM
                    // return date.toLocaleDateString(); // 7/3/2024
                    // return date.toDateString(); // Wed Jul 03 2024
                    // return date.toTimeString(); // 17:46:40 GMT+0800 (Taipei Standard Time)
                    // return date.toJSON(); // 17:46:40 GMT+0800 (Taipei Standard Time)
                },
                formattedEndDate(endDate) {
                    const date = new Date(endDate * 1000);
                    return date.toLocaleString(); // 7/3/2024, 5:46:40 PM
                    // return date.toLocaleDateString(); // 7/3/2024
                    // return date.toDateString(); // Wed Jul 03 2024
                    // return date.toTimeString(); // 17:46:40 GMT+0800 (Taipei Standard Time)
                    // return date.toJSON(); // 17:46:40 GMT+0800 (Taipei Standard Time)
                },
                loadCart() {
                    const storedCart = localStorage.getItem("cartList");
                    console.log("瀏覽器存的資料:" + storedCart)
                    if (storedCart) {
                        this.cartList = JSON.parse(storedCart);
                    }
                    console.log(this.cartList);
                },

            },
            mounted() {
                axios.get('https://script.googleusercontent.com/macros/echo?user_content_key=AehSKLhqZ_uuMalB6KjxJAoeyFnWF2d8O4qQF8C0JyshM7OhPvnzuWXx1rFgbX8gYbx3YR8Y8SEzwzfyW-02reIqUM7RBEpNoeIrmlpIbj2EGdO6HMs9TVp2R0ZJmZk_5bARfajsZhBdvYExL-ebBJKgzLW_PsVQswtcxW9douagrrJEuA13xNEyPwn3CrJFB43b1gSIm4OTmCPShnD2RMohcd5g1b7UztPrdtZ9bSAKccrNta1WoG86Z8tw-wg2C1-DfbbN-Zp4KKS-kp4ce6vZotQEZaTyiA&lib=M4u3jSX4CNubVWVYGn1X0f5xHXOgmvvFb')
                    .then((rsp) => {
                        this.data = rsp.data;
                    });
                this.loadCart();
            },
        }).mount('#app')
    </script>
</body>

</html>