<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue購物車</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>

    </style>
</head>

<body>
    <div id="app" v-for="item in cartList">
        <nav class="flex w-full sticky bg-red-100 top-0 leading-loose justify-center">
            <a href="index.html" class="py-6 w-1/4 text-center h-full hover:bg-red-600">商品列表</a>
            <a href="cart.html"
                class="py-6 w-1/4 text-center h-full hover:bg-red-600">查看購物車<span>{{cartList.length}}</span></a>
        </nav>
        <main class="px-32">

            <div v-for="item in cartList" :key="item.id">
                <label class="border-2 m-2 p-6 flex" :for="item.id">
                    <input class="m-5" :id="item.id" type="checkbox" @click="addSelect(item.id)">
                    <img class="h-48" :src="item.imageUrl" alt=""><br>
                    <div>
                        <p class="text-xl font-bold text-center m-2">{{item.name}}</p>
                        <p class="text-xl m-2">活動類型 : {{item.displayCategory}}</p>
                        <p class="text-xl m-2">票價 : {{item.price}}</p>
                    </div>
                </label>
            </div>
            <hr>
            <div class="flex justify-center">
                <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-red-600"
                    @click="delCartList()">刪除</button>
                <p>總金額 : {{getAllPrice()}}</p>
                <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-red-600"
                    @click="showModal = true">確認購買</button>
            </div>
            <!-- 彈出視窗 -->
            <div v-show="showModal" style="display: none;"
                class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
                <!-- 外層彈窗容器，保持圓角並設定滾動 -->
                <div class="bg-white p-6 rounded-lg shadow-lg w-4/5 relative max-h-[80vh] overflow-y-auto">
                    <!-- 內部可滾動內容 -->
                    <p>感謝購買，以下為本次購買明細 :</p>
                    <hr>
                    <!-- 商品列表部分 -->
                    <div class="flex flex-col p-6 space-y-4">
                        <div v-for="item in cartList" :key="item.id" class="flex">
                            <img class="h-24" :src="item.imageUrl" alt="">
                            <div class="px-6">
                                <p class="text-xl font-bold text-center m-2">{{item.name}}</p>
                                <p class="text-xl m-2">票價 : {{item.price}}</p>
                            </div>
                        </div>
                    </div>
                    <button @click="showModal = false"
                        class="inline-block text-red-500 px-4 py-2 rounded-md hover:text-red-600 absolute top-0 right-0 m-2">
                        ✖
                    </button>
                    <div class="flex justify-center">
                        <p>總金額 : {{getAllPrice()}}</p>
                        <button @click="delList()">我瞭解了</button>
                    </div>
                </div>
            </div>



        </main>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.min.js"
        integrity="sha512-v8+bPcpk4Sj7CKB11+gK/FnsbgQ15jTwZamnBf/xDmiQDcgOIYufBo6Acu1y30vrk8gg5su4x0CG3zfPaq5Fcg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        Vue.createApp({
            data() {
                return {
                    data: [], // 原始商品列表
                    showModal: false, // 商品詳情彈窗
                    findData: [], // 存放彈窗要顯示的商品資料
                    cartList: [], // 購物車清單
                    SelectList: [], //選取清單 : 邏輯->把被勾選的項目放刪除清單，點擊刪除鈕後刪除?
                }

            },
            methods: {
                // 修改日期模板
                formattedStartDate(starDate) {
                    const date = new Date(starDate * 1000);
                    return date.toLocaleString(); // 7/3/2024, 5:46:40 PM
                    // return date.toLocaleDateString(); // 7/3/2024
                    // return date.toDateString(); // Wed Jul 03 2024
                    // return date.toTimeString(); // 17:46:40 GMT+0800 (Taipei Standard Time)
                    // return date.toJSON(); // 17:46:40 GMT+0800 (Taipei Standard Time)
                },
                // 修改日期模板
                formattedEndDate(endDate) {
                    const date = new Date(endDate * 1000);
                    return date.toLocaleString(); // 7/3/2024, 5:46:40 PM
                    // return date.toLocaleDateString(); // 7/3/2024
                    // return date.toDateString(); // Wed Jul 03 2024
                    // return date.toTimeString(); // 17:46:40 GMT+0800 (Taipei Standard Time)
                    // return date.toJSON(); // 17:46:40 GMT+0800 (Taipei Standard Time)
                },
                // 從瀏覽器抓取儲存的購物車資料
                loadCart() {
                    const storedCart = localStorage.getItem("cartList");
                    if (storedCart) {
                        this.cartList = JSON.parse(storedCart);
                    }
                },
                // 算購物車總額
                getAllPrice() {
                    // 使用 reduce() 計算總金額
                    return this.cartList.reduce((AllPrice, cartItem) => AllPrice + cartItem.price, 0);
                },
                // 將選取項目加到SelectList
                addSelect(id) {
                    this.SelectList.push(id);
                    console.log("選取清單", this.SelectList);
                },
                delCartList() {
                    console.log("delBtn");
                    console.log("購物清單", this.cartList);
                    console.log("刪除清單", this.SelectList);
                    // 使用 filter() 移除 SelectList 中的項目
                    this.cartList = this.cartList.filter(cartItem => !this.SelectList.includes(cartItem.id));
                    // 清空刪除清單
                    this.SelectList = [];
                    // 更新快取資料
                    localStorage.setItem("cartList", JSON.stringify(this.cartList));
                },
                delList() {
                    console.log("subBtn");
                    this.cartList = [];
                    // 清空購物車清單後刪除快取，不要用儲存，不然陣列會變obj
                    localStorage.removeItem("cartList");
                    // 確保彈窗關閉
                    this.showModal = false;
                    setTimeout(() => {
                        window.location.href = "index.html";
                    }, 100);
                },


            },
            mounted() {
                this.showModal = false;
                axios.get('https://script.googleusercontent.com/macros/echo?user_content_key=AehSKLhqZ_uuMalB6KjxJAoeyFnWF2d8O4qQF8C0JyshM7OhPvnzuWXx1rFgbX8gYbx3YR8Y8SEzwzfyW-02reIqUM7RBEpNoeIrmlpIbj2EGdO6HMs9TVp2R0ZJmZk_5bARfajsZhBdvYExL-ebBJKgzLW_PsVQswtcxW9douagrrJEuA13xNEyPwn3CrJFB43b1gSIm4OTmCPShnD2RMohcd5g1b7UztPrdtZ9bSAKccrNta1WoG86Z8tw-wg2C1-DfbbN-Zp4KKS-kp4ce6vZotQEZaTyiA&lib=M4u3jSX4CNubVWVYGn1X0f5xHXOgmvvFb')
                    .then((rsp) => {
                        this.data = rsp.data;
                    });
                this.loadCart(); // 呼叫抓取購物車資料的function
            },
        }).mount('#app')
    </script>
</body>

</html>